/* formateo */

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }

/* header */

  #container-header{
    display: flex;
    background-color: #606060;
  }

  #menu ul{
    display: flex;
    margin: 5px;
  }