
  body h3{
    display: none;
  }

/* header */

  #container-header .icon i{
    font-size: 30px;
  }

  #menu{
    margin: 14px;
  }

  #menu ul li{
    display: inline;
    padding-left: 3px;
    padding-right: 15px;
  }

/* main */

  #container-main{
    height: 35em;
  }

  #inicio h1, p{
    margin: 20px;
  }

/* formaciones */

  #formaciones{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    margin-top: 2em;
  }

  #formaciones .formacion{
    width: 300px;
    margin: 10px;
  }

/* certificados */

  #certificados{
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
  }

  #certificados .certificado{
    margin: 10px;
    width: 300px;
  }

/* footer */

  #container--footer{
    position: relative;
    margin-top: 140em;
    height: 100px;
  }
